.reset-password-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
}

.controls {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}